<form [formGroup]="addressForm">
  <div>
    <mat-form-field class="mr3">
      <mat-label>{{ 'ADDRESS.FIRST_NAME' | translate }}</mat-label>
      <input matInput formControlName="first_name" required maxlength="30" autocomplete="given-name" />
      <mat-error *ngIf="addressForm.get('first_name').hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="addressForm.get('first_name').hasError('pattern')">
        {{ 'ERRORS.PATTERN' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'ADDRESS.LAST_NAME' | translate }}</mat-label>
      <input matInput formControlName="last_name" required maxlength="30" autocomplete="family-name" />
      <mat-error *ngIf="addressForm.get('last_name').hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </mat-error>
      <mat-error *ngIf="addressForm.get('last_name').hasError('pattern')">
        {{ 'ERRORS.PATTERN' | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field class="w-100">
    <mat-label>{{ 'ADDRESS.ADDRESS_LINE_1' | translate }}</mat-label>
    <input matInput formControlName="address_1" required maxlength="120" autocomplete="address-line1" />
    <mat-error *ngIf="addressForm.get('address_1').hasError('required')">
      {{ 'ERRORS.REQUIRED' | translate }}
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>{{ 'ADDRESS.ADDRESS_LINE_2' | translate }}</mat-label>
    <input matInput formControlName="address_2" maxlength="120" autocomplete="address_2" />
  </mat-form-field>

  <div>
    <mat-form-field class="mr3">
      <mat-label>{{ 'ADDRESS.CITY' | translate }}</mat-label>
      <input matInput formControlName="city" required maxlength="30" autocomplete="address-level2" />
      <mat-error *ngIf="addressForm.get('city').hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mr3">
      <mat-label>{{ 'country_code' | translate }}</mat-label>
      <input matInput formControlName="country_code" required maxlength="30" autocomplete="country_code" />
      <mat-error *ngIf="addressForm.get('country_code').hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="mr3">
      <mat-label>{{ 'phone' | translate }}</mat-label>
      <input matInput formControlName="phone" required maxlength="30" autocomplete="phone" />
      <mat-error *ngIf="addressForm.get('phone').hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'ADDRESS.POSTAL_CODE' | translate }}</mat-label>
      <input matInput formControlName="postal_code" required maxlength="6" autocomplete="postal_code" />
      <mat-error *ngIf="addressForm.get('postal_code').hasError('required')">
        {{ 'ERRORS.REQUIRED' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
</form>
