<ion-header>
  <ion-toolbar>
    <nav mat-tab-nav-bar>
      <a mat-tab-link [routerLink]="['/welcome']" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        {{ 'Home' | translate }}
      </a>
      <a mat-tab-link [routerLink]="['/checkout/delivery']" routerLinkActive #rla1="routerLinkActive"
        [active]="rla1.isActive">
        {{ 'TABS.DELIVERY' | translate }}
      </a>
      <a mat-tab-link [routerLink]="['/checkout/shipping']" routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive" [disabled]="(isDeliveryFormValid$ | async) === false">
        {{ 'TABS.SHIPPING' | translate }}
      </a>
      <a mat-tab-link [routerLink]="['/checkout/payment']" routerLinkActive #rla3="routerLinkActive"
        [active]="rla3.isActive" [disabled]="(isPaymentEnabled$ | async) === false">
        {{ 'TABS.PAYMENT' | translate }}
      </a>
    </nav>
  </ion-toolbar>
</ion-header>

<ion-content>

  <router-outlet></router-outlet>

  <ion-button (click)="welcomePage()" expand="block" fill="clear" shape="round">
    back to welcome
  </ion-button>
</ion-content>