<!-- <ion-header>
  <ion-toolbar>
    <nav mat-tab-nav-bar>
      <a mat-tab-link (click)="welcomePage()" routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive">
        {{ 'Home' | translate }}
      </a>
      <a mat-tab-link [routerLink]="['/checkout/delivery']" routerLinkActive #rla1="routerLinkActive"
        [active]="rla1.isActive">
        {{ 'TABS.DELIVERY' | translate }}
      </a>
      <a mat-tab-link [routerLink]="['/checkout/shipping']" routerLinkActive #rla2="routerLinkActive"
        [active]="rla2.isActive" [disabled]="(isDeliveryFormValid$ | async) === false">
        {{ 'TABS.SHIPPING' | translate }}
      </a>
      <a mat-tab-link [routerLink]="['/checkout/payment']" routerLinkActive #rla3="routerLinkActive"
        [active]="rla3.isActive" [disabled]="(isPaymentEnabled$ | async) === false">
        {{ 'TABS.PAYMENT' | translate }}
      </a>
    </nav>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar>
  <ion-segment value="all" color="tertiary" scrollable="true" mode="ios" [(ngModel)]="segment"
    (ionChange)="segmentChanged($event)">

    <ion-segment-button (click)="welcomePage()">
      <ion-label>
        {{ 'Home' | translate }}
      </ion-label>
    </ion-segment-button>

    <ion-segment-button [routerLink]="['/checkout/checkout-flow']">
      <ion-label>
        {{ 'Flow' | translate }}
      </ion-label>
    </ion-segment-button>

    <ion-segment-button [routerLink]="['/checkout/delivery']">
      <ion-label>
        {{ 'Delivery' | translate }}
      </ion-label>
    </ion-segment-button>

    <ion-segment-button [routerLink]="['/checkout/shipping']" [disabled]="(isDeliveryFormValid$ | async) === false">
      <ion-label>
        {{ 'TABS.SHIPPING' | translate }}
      </ion-label>
    </ion-segment-button>

    <ion-segment-button [routerLink]="['/checkout/payment']" [disabled]="(isPaymentEnabled$ | async) === false">
      <ion-label>
        {{ 'TABS.PAYMENT' | translate }}
      </ion-label>
    </ion-segment-button>

  </ion-segment>
</ion-toolbar>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-router-outlet></ion-router-outlet>
    </ion-row>
  </ion-grid>
</ion-content>