<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-searchbar (ionChange)="search($event)" debounce="500"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-grid>

    <ion-row *ngIf="productsList as vs">
      <ion-col size="6" size-lg="3" size-md="4" *ngFor="let p of vs?.productsList?.products">
        <ion-card class="ion-no-margin">
          <ion-card-content>
            <ion-button expand="block" fill="clear" expand="full" (click)="productDetailsPage(p)">
              <ion-img [src]="'assets/shapes.svg'"></ion-img>
            </ion-button>
            <ion-text color="primary">
              {{ p.title }}
            </ion-text>
            <ion-button expand="full" color="danger" size="small" (click)="addToCartModal(p)">
              Add Product to cart
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>