<ion-header>
  <ion-toolbar>
    <ion-card-subtitle>
      {{ 'auth.request_password.title' | translate }}
    </ion-card-subtitle>
    <ion-buttons slot="start">
      <ion-button (click)="loginPage()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header collapse="condense">
    <ion-card-title>
      {{ 'auth.request_password.subtitle' | translate }}
    </ion-card-title>
  </ion-card-header>

  <ion-grid>
    <ion-row>
      <ion-col *ngIf="showMessages.error && errors?.length && !submitted">
        <ion-text color="danger">
          <b>{{ 'auth.request_password.messages.error' | translate }}</b>
        </ion-text>
        <ul class="alert-message-list">
          <li *ngFor="let error of errors">{{ error | json }}</li>
        </ul>
      </ion-col>
      <ion-col *ngIf="showMessages.success && messages?.length && !submitted">
        <ion-text color="danger">
          <b>{{ 'auth.request_password.messages.success' | translate }}</b>
        </ion-text>
        <ul class="alert-message-list">
          <li *ngFor="let message of messages">{{ message | json }}</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <form (ngSubmit)="requestPass()" #requestPassForm="ngForm">
          <div class="form-control-group">
            <ion-label class="label" for="input-email">
              {{ 'auth.request_password.form.input.email.label' | translate }}
            </ion-label>
            <ion-input [(ngModel)]="resetCreateReq.email" #email="ngModel" id="input-email" name="email"
              pattern=".+@.+\..+" placeholder="{{ 'auth.request_password.form.input.email.placeholder' | translate }}"
            ></ion-input>
            <ng-container *ngIf="email.invalid && email.touched">
              <ion-text *ngIf="email.errors?.required">
                {{ 'auth.request_password.form.input.email.required_message' | translate }}
              </ion-text>
              <ion-text *ngIf="email.errors?.pattern">
                {{ 'auth.request_password.form.input.email.valid_message' | translate }}
              </ion-text>
            </ng-container>
          </div>

          <ion-button type="submit" expand="block" fill="solid" shape="round" color="primary" [disabled]="submitted || !requestPassForm.valid">
            {{ 'auth.request_password.form.button.request.title' | translate }}
          </ion-button>
        </form>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">

        <ion-button expand="block" fill="outline" shape="round" color="primary"  routerLink="../login">
          {{ 'auth.request_password.form.button.back_to.text' | translate }}
        </ion-button>

        <ion-button expand="block" fill="outline" shape="round" color="primary"  routerLink="../register">
          {{ 'auth.request_password.form.button.back_to.title' | translate }}
        </ion-button>

      </ion-col>
    </ion-row>



  </ion-grid>

</ion-content>