<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button size="small" fill="clear" color="primary" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" fill="clear" color="primary" (click)="profile()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="goToCheckout(12)" expand="block" fill="outline" shape="round">
    checkout
  </ion-button>

  <ion-button (click)="goToShop()" expand="block" fill="outline" shape="round">
    Shop
  </ion-button>


</ion-content>