<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-card-header>
      <ion-card-subtitle>
        {{ 'auth.profile.general_information.title' | translate }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-buttons slot="start">
      <ion-button size="small" fill="clear" color="primary" (click)="home()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-grid>

    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <app-image-picker [userAvatar]="avatar" (imagePick)="onImagePicked($event)"></app-image-picker>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" *ngIf="addressForm">
        <form (ngSubmit)="submitForm()" [formGroup]="addressForm">
          <section>
            <ion-label>First name</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.first_name" formControlName="first_name" name="first_name">
            </ion-input>
          </section>
          <section>
            <ion-label>Last name</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.last_name" formControlName="last_name" name="last_name">
            </ion-input>
          </section>
          <section>
            <ion-label>First line address</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.address_1" formControlName="address_1" name="address_1">
            </ion-input>
          </section>
          <section>
            <ion-label>Second line address</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.address_2" formControlName="address_2" name="address_2">
            </ion-input>
          </section>
          <section>
            <ion-label>City</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.city" formControlName="city" name="city">
            </ion-input>
          </section>
          <section>
            <ion-label>Country Code (medusa list)</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.country_code" formControlName="country_code"
              name="country_code"></ion-input>
          </section>
          <section>
            <ion-label>Phone number</ion-label>
            <ion-input type="tel" [(ngModel)]="addressObj.phone" formControlName="phone" name="phone">
            </ion-input>
          </section>
          <section>
            <ion-label>Post Code</ion-label>
            <ion-input type="text" [(ngModel)]="addressObj.postal_code" formControlName="postal_code"
              name="postal_code">
            </ion-input>
          </section>

          <ion-button type="submit" expand="block" fill="solid" shape="round">
            {{ 'auth.profile.form.button.save' | translate }}
          </ion-button>
        </form>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <form [formGroup]="passwordForm">
          <section>
            <ion-label>Password</ion-label>
            <ion-input type="text" [(ngModel)]="passwordObj.password" formControlName="password" name="password">
            </ion-input>
          </section>
          <section>
            <ion-label>Old Password</ion-label>
            <ion-input type="text" [(ngModel)]="passwordObj.oldPassword" formControlName="oldPassword"
              name="oldPassword">
            </ion-input>
          </section>
          <section>
            <ion-label>user name</ion-label>
            <ion-input type="text" [(ngModel)]="passwordObj.username" formControlName="username" name="username">
            </ion-input>
          </section>
          <section>
            <ion-label>emai;</ion-label>
            <ion-input type="email" [(ngModel)]="passwordObj.email" formControlName="email" name="email">
            </ion-input>
          </section>
          <ion-button (click)="submitPassworddForm()" expand="block" fill="clear" shape="round">
            submitPassrodForm
          </ion-button>
        </form>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>